.employee-dashboard {
  background-color: #fff;
  padding: 20px;
  min-height: 100vh; /* Set minimum height to occupy full viewport */
}

.employee-dashboard h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
  text-align: center; /* Center align the heading */
}

.employee-dashboard h2 {
  font-size: 20px;
  color: #2d0505;
  margin-bottom: 10px;
  margin-left: 15px;
}

.add-claim-button {
  display: inline-block;
  background-color: #46aa1f;
  color: #fff;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-left: 15px;
  text-align: center; /* Center align the button text */
}

.add-claim-button:hover {
  background-color: #7eaedd;
}

.rdt_TableHeadRow{
  width: 100%;
}

.rdt_TableHeadRow {
  background-color: #d40e0e;
  padding: 0px;
  font-weight: bold;
  text-align: left;
  border-bottom: 1px solid #dfdcdc;
}

.rdt_TableHeadRow {
  padding: 0px;
  color: #333;
  font-size: 14px;
  
}


.add-claim-button:focus,
.add-claim-button:active {
  background-color: #58b3f4;
}

.employee-dashboard a {
  color: #f0f2f5;
}

.employee-dashboard a:hover {
  text-decoration: underline;
}

/* Media Queries for Responsive Design */
@media only screen and (max-width: 300px) {
  .employee-dashboard h1 {
    font-size: 18px;
  }

  .employee-dashboard h2 {
    font-size: 16px;
  }

  .add-claim-button {
    font-size: 14px;
  }

  .claims-table th,
  .claims-table td {
    font-size: 12px;
  }
}

@media only screen and (max-width: 500px) {
  .employee-dashboard h1 {
    font-size: 20px;
  }

  .employee-dashboard h2 {
    font-size: 18px;
  }

  .add-claim-button {
    font-size: 16px;
  }

  .claims-table th,
  .claims-table td {
    font-size: 14px;
  }
}

@media only screen and (max-width: 768px) {
  .employee-dashboard h1 {
    font-size: 22px;
  }

  .employee-dashboard h2 {
    font-size: 20px;
  }

  .add-claim-button {
    font-size: 18px;
  }

  .claims-table th,
  .claims-table td {
    font-size: 16px;
  }
}
